/* color Scheme */
.first-color { 
	background: #d9dad7; 
}
	
.second-color { 
	background: #c24d2c; 
}

.third-color { 
	background: #3e4a61; 
}

.fourth-color { 
	background: #1a2639; 
}

/*base*/
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    width: 100%;
}

/*header*/
header {
    background: #d9dad7;
}

#course-title {
    font-size: 30px;
    text-align: center;
    margin: 5px auto 5px auto;
}

header span {
    display: block;
}

nav {
    min-height: auto;
    min-width: 100%;
    padding: 9px;
    background: #1a2639;
}
  

#nav-list {
    display: flex;
    justify-content: space-around;
}

.nav-a {
    font-size: 20px;
    text-decoration: none;
    color: #1a2639; 
    background: #d9dad7;
    padding: 5px;
    margin: 5px;
    border-radius: 8%;
}

a:hover {
    color: yellow;
}

.nav-li {
    list-style: none;
}

/*main*/
div {
    width: 70dvw;
    height: fit-content;
}

main {
    color: white;
    max-width: 90%;
    min-height: 75dvh;
    
    padding-top: 5px;
    margin-left: 10%;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto;
}
h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-right: 80px;
    color: black;
    grid-column: 1/3;
}

section {
    max-width: 100%;
    min-height: auto;
    margin-bottom: 0px;
    background: #3e4a61;
    
}

section h2 {
    text-align: center;
    grid-column: 1/3;
    font-size: 20px;
}

section p, section img {
    margin-top: 10px;
}

section img {
    margin-bottom: 10px;
}
.card {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: auto auto auto;
    justify-content:space-evenly;
    margin-left: 10px;
}

#card-two {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#card-two h2 {
    border-bottom: #eee solid 1px;
}

#card-two p {
    max-width: 200px;
    margin-bottom: 10px;
}

#card-one {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*------aside----------*/
aside {
    
    border: black solid 1px;
    border-radius: 10px 10px 10px 10px;
    width: 17dvw;
}
aside ul {
    align-content: center;
    padding: 5px 0 0 25px;
    color: blue;
}

aside div {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside ul li {
    padding-top: 10px;
    
}

aside h2 {
    border: solid 1px black;
    background: #3e4a61;
    border-radius: 10px 10px 0 0;
    text-align: center;
}


/*footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d9dad7;
    text-align: center;
    min-height: 15dvh;
    
}
