
body {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ----------header--------------*/
header {
    width: 100dvw;
    height: 44px;
    display: grid;
    grid-template-columns: auto 44px;
    align-items: end;
    border-bottom: #ddd solid 1px;
    background-color:  #db7b7b;

}

header span{
    text-align: left;
    color: black;
    font-size: 1.4rem;
    padding: 0 0 8px 10px;
}

/* ----------navigation--------------*/
nav {
    display: flex;
}
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0 11px 11px 11px;

    border: solid 1px #eee;
}

.navigation li {
    border-bottom: #ddd solid 5px;
    margin: 3px 0 0 0;
    padding: 0;
}

.navigation li a {
    text-decoration: none;
    color: black;
    
}

.navigation a:hover{
    color: white;
    background: black;
}

/* ----------hamburger--------------*/
.hamburger {
    background: none;
    width: 44px;
    height: 44px;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;

}
/* ----------Main--------------*/
main {
    min-width: 320px;
    display: grid;
    grid-template-columns: auto;
    margin-top: 123px;
}

h1 {
    border-bottom: 10px white solid;
    padding-bottom: 14px;
    background-color:  #db7b7b;
}

img {
    width: 100%;
    height: auto;
}

/*----------Footer----------*/
footer {
    width: 80%;
    margin: 10px 10% 10px 10%;
    text-align: center;
    border-top: #ddd solid 1px;
    background-color:  #db7b7b;
}

/*----------cards----------*/

#temple-cards section {
    background-color: #eee;
    border: black solid 1px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 15px;
}

#temple-cards p {
    margin: 5px;
    padding: 0;
}