body {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* ----------Main--------------*/
main {
    width: 40%;
    margin: 10px 10% 10px 10%;
    display: grid;
    grid-template-columns: auto;
    border: red dashed 1px;
}

figure {
    border: red dashed 1px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*----------Footer----------*/
footer {
    width: 80%;
    margin: 10px 10% 10px 10%;
    text-align: center;
    border: red dashed 1px;
}