
body {
    margin: 20px 0 0 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Urbanist", sans-serif;
}

/* ----------header--------------*/
header {
    width: 100dvw;
    height: auto;
    display: grid;
    grid-gap: 1rem;
    align-items: center;
    border-bottom: #ddd solid 1px;
    background-color: #e6c365;
    margin-bottom: 10px;

}

header span{
    text-align: left;
    color: black;
    font-size: 1.4rem;
    padding: 0 0 8px 10px;
    width: 90%;
}

/* ----------navigation--------------*/
nav {
    display: flex;
    width: 70%;
}
.navigation ul {
    display:flex;
    flex-direction: column;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin-left: 11px;
    background-color: #ddd;
}

.navigation li {
    border-bottom: #ddd solid 1px;
    margin: 3px 0 0 0;
    padding: 0;
    width: 440px;
}

.navigation li a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    
}

nav a:hover {
    color: yellow;
}
/* ----------Main--------------*/
main {
    min-width: 320px;
    display: grid;
    grid-template-columns: auto;
    background-color: #eee;
}

figure {
    width: fit-content;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2px 0 2px 2px;
}
figure img {
    width: 100%;
    height: auto;
}

figcaption {
    font-family: "Lobster Two", sans-serif;
}

/*----------Footer----------*/
footer {
    width: 80%;
    margin: 10px 10% 10px 10%;
    text-align: center;
    border-top: #ddd solid 1px;
    background-color: #e6c365;
}